mixin tags(tags)
  div(class="div inline")
    ul
      for tag in tags
        li: a(class= 'tag', href= '/tag/' + tag.toLowerCase())
          = tag

mixin preview(post)
  - var raw_date = `${post.data.date}`
  include /templates/fdate_input.pug
  include /templates/tags.pug
  section
    a(href=post.data.url) #{post.data.title} - #{fdate}
    +list_tags(post.data.tags)
