/* layouts */

hr {
  border: none;
  border-top: 4px dashed var(--color-fg);
}

nav > ul,
nav > ul > li {
  margin: 0;
  padding-left: 0;
  padding-right: 0.5em;
  display: inline;
  /* line-height: 0%; */
}

ul,
li {
  all: none;
}

/* @media (min-width: 1000px) { */
/* } */
content {
  display: flex;
  justify-content: center;
  /* margin-left: 4vw;
  margin-right: 4vw; */
}

article {
  width: 50%;
}
