@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&family=Ubuntu+Mono&display=swap");

body {
  font-family: "Ubuntu Mono", "IBM Plex Sans KR", monospace;
}

h1 {
  font-size: 2em;
}

p {
  font-size: 1.2em;
}
