@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200;300&family=Ubuntu+Mono:wght@400&display=swap");

/* font sizes, color, style */

:root {
  --color-fg: #80f09a;
  --color-bg: #282c34;
  --color-text: #ffffff;
  --size-text: 1em;
  --size-h1: calc(var(--size-text) * 1.5);
  --size-h2: calc(var(--size-text) * 1.25);
  --size-h3: calc(var(--size-text) * 1.1);
  --size-h4: var(--size-text);
}

body {
  font-family: "Ubuntu Mono", "IBM Plex Sans KR", monospace;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-size: var(--size-text);
}

h1 {
  font-size: var(--size-h1);
}

h2 {
  font-size: var(--size-h2);
}

h3 {
  font-size: var(--size-h2);
}

h4 {
  font-size: var(--size-h2);
}

h1,
h2,
h3,
h4 {
  color: var(--color-fg);
}

#title {
  /* font-size: var(--size-title); */
  text-decoration-color: var(--color-fg);
}

a:link,
a:visited,
a:active {
  color: var(--color-text);
  font-weight: bold;
  text-decoration: underline;
}

a:hover {
  color: var(--color-bg);
  background-color: var(--color-fg);
}
