/* font color, style */

:root {
  --color-fg: #80f09a;
  --color-bg: #282c34;
  --color-text: #ffffff;
  --size-text: 1em;
  --font-family: "Ubuntu Mono", "IBM Plex Sans KR", monospace;
  --size-h1: calc(var(--size-text) * 1.5);
  --size-h2: calc(var(--size-text) * 1.25);
  --size-h3: calc(var(--size-text) * 1.1);
  --size-h4: var(--size-text);
}

body,
p {
  font-family: var(--font-family);
  color: var(--color-text);
  background-color: var(--color-bg);
  font-size: var(--size-text);
}

h1,
h2,
h3,
h4 {
  color: var(--color-fg);
}

code {
  font-family: "Fira Code", var(--font-family);
  color: var(--color-fg);
}

#title {
  text-decoration-color: var(--color-fg);
}

a:link,
a:visited,
a:active {
  color: var(--color-text);
  font-weight: bold;
  text-decoration: underline;
}

a:hover {
  color: var(--color-bg);
  text-decoration: none;
  background-color: var(--color-fg);
}
