---
title: about
date: 2021-12-30
url: /about/
---

extends /layouts/main.pug

mixin links(dict)
  for val, key in dict
    li
      a(href=`https://${val}`)= key

block content
  +links(site.contact)

  //- p= date
  //- //- - let d = date
  //- :date
  //-   Thu Dec 30 2021 09:00:00 GMT+0900 (Korean Standard Time)

  //- p end