---
type: home
url: /index/
---

extends /layouts/home.pug
include /templates/previews.pug

block content
  p= site.description

  ul
    for post in search.pages("", "date=desc")
        +preview(post)
