mixin navbar(...args)
  ul
    for name in args
      li: a(href= '/' + name.toLowerCase())
        = name

header
  a(id= "title", href='/'): h1= site.title
  nav: +navbar('About', 'Posts')
  h2= title
  hr