doctype html

head
  title= title || site.title
  meta(charset = "utf-8")
  meta(name = "viewport", content = "width=device-width, initial-scale=1")
  link(rel='stylesheet', href='/main.css', type='text/css')

body
  header
    include /templates/header.pug
  section
    include /templates/fdate.pug
    //- hacky date formatting
    block content
  footer
    block footer
  link(rel='stylesheet', href='/fonts.css', type='text/css')